
.hide {
    display: none;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100000;
    border: 1px dotted black;
}

.file-manager-modal .file-manager-file:hover,
.file-manager-modal .file-manager-file.ui-selected,
.file-manager-modal .file-manager-file.ui-selecting {
    border: 2px solid #53c7b2;
    cursor: pointer;
    padding-bottom: 12px;
}

.form-control.file-manager-control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 34px;
    height: auto;
}
